{% extends 'blank.html.twig' %}

{% block header %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">FFAIP-Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'menu/knp_menu.html.twig'}) }}
            <ul id="minicart" class="nav navbar-nav navbar-right">
            </ul>
            {% if not is_granted('ROLE_CUSTOMER') %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-3"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form navbar-right" action="{{ path('security_login_check') }}" method="post"
                                  autocomplete="off">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" class="form-control" name="_username" readonly
                                           onfocus="this.removeAttribute('readonly');">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" name="_password" class="form-control" readonly
                                           onfocus="this.removeAttribute('readonly');">
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="submit" value="submit" class="btn btn-success"/>
                            </form>
                        </li>
                        <li><a href="{{ path('registration_form') }}">Register</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('customer') }}">{{ app.user }}</a></li>
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
                </ul>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>
{% endblock %}
