<h2>Orders</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Ship To</th>
        <th>Order Total</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.increment_id }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.customer_firstname }} {{ order.customer_lastname }}</td>
            <td>{{ order.base_grand_total }}</td>
            <td>{{ order.status }}</td>
            <td><a href="{{ path("customer_order", {'orderId' : order.entity_id}) }}">Details</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ dump(orders) }}