{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    {% for product in category %}
        <div class="col-md-3" style="padding: 10px;">
            <div class="inner"  style="border: 1px solid black;padding: 10px;min-height:300px">
                <div class="media">
                        <img src="{{ base_url }}pub/media/catalog/product/{{ product.product.small_image }}" style="max-width: 150px"/>
                </div>
                <p>{{ product.product.name|raw }}</p>
                <p>{{ product.product.sku }}</p>
                <p>Price: {{ product_helper.getPrice(product.product) }}</p>
                <a href="{{ path('catalog_product', {sku: product.product.sku}) }}" class="btn btn-default">Details</a>
                <script type="text/x-init">
                    {
                        "component": "AddToCartButton",
                        "props": {
                          "sku": "{{ product.sku }}",
                          "mediaUrl": "{{ base_url }}pub/media/catalog/product/"
                        }
                    }
                </script>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
