{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Sku</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Rowtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.price * item.qty }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No Items in Cart.</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Totals</div>
                <div class="panel-body">
                    <p>Subtotal: {{ totals.totals.base_subtotal }}</p>
                    <p>Discount: {{ totals.totals.base_discount_amount }}</p>
                    <p>Tac: {{ totals.totals.base_tax_amount }}</p>
                    <hr/>
                    <p>Grand Total: {{ totals.totals.base_grand_total }}</p>
                    {{ dump(totals) }}
                </div>
                <div class="panel-body text-center">
                    <a href="{{ path('checkout_shipping') }}" class="btn btn-success">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}