{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% include 'checkout/_partial/items.html.twig' %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Totals</div>
                <div class="panel-body">
                    {% for segment in totals.totals.total_segments %}
                        {% if segment.area is defined and segment.area == 'footer' %}
                            <hr/>
                        {% endif %}
                        <p>{{ segment.title }}: {{ segment.value }}</p>
                    {% endfor %}
                    {{ dump(totals) }}
                </div>
                <div class="panel-body text-center">
                    <a href="{{ path('checkout_shipping') }}" class="btn btn-success">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/x-init">
    {
        "component": "ShoppingCart",
        "props": {
          "mediaUrl": "{{ base_url }}pub/media/catalog/product/",
          "editable": "true"
        }
    }
</script>

{% endblock %}
