{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="col-md-4">
            {% for image in product.media_gallery_entries %}
                <img src="{{ base_url }}pub/media/catalog/product/{{ image.file }}" style="max-width: 250px"/>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h2>{{ product.name }}</h2>
            {% for attribute in product.custom_attributes %}
                {% if attribute.attribute_code == 'description' %}
                    {{ attribute.value|raw }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-12">
            <form method="post" action="{{ path('checkout_add') }}">
                {% if product.type_id == 'configurable'  %}
                    {% include 'catalog/product/options/configurable.html.twig' with {'options': product.extension_attributes.configurable_product_options} %}
                {% endif %}
                <div class="form-group">
                    <label for="qty">Qty</label>
                    <input type="text" class="form-control" id="qty" name="_qty" value="1">
                </div>
                <input type="hidden" name="_sku" value="{{ product.sku }}">
                <button type="submit" class="btn btn-primary pull-right">Add to Cart</button>
            </form>

        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Ajax Add to cart</div>
              <div class="panel-body">
                <div id="addToCartButton"></div>
                <script type="text/x-init">
                    {
                        "element": "addToCartButton",
                        "component": "AddToCartButton",
                        "props": {
                          "sku": "{{ product.sku }}"
                        }
                    }
                </script>
              </div>
            </div>
        </div>
    </div>
{{ dump(product) }}
{% endblock %}
