{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ base_url }}pub/media/catalog/product/{{ product.image }}" id="product-base-image" style="max-width: 250px"/>
            <div class="media-gallery row" style="padding: 5px;">
                {% for image in product.media_gallery_entries %}
                    <img src="{{ base_url }}pub/media/catalog/product/{{ image.file }}" class="img-thumbnail" style="max-width: 80px"/>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="col-md-12">
                <h2>{{ product.name }}</h2>
                {% for attribute in product.custom_attributes %}
                    {% if attribute.attribute_code == 'description' %}
                        {{ attribute.value|raw }}
                    {% endif %}
                {% endfor %}
                <p>Price: {{ product_helper.getPrice(product) }}</p>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Ajax Add to cart</div>
                    <div class="panel-body">
                        <div id="configurableOptions"></div>
                        <div id="addToCartButton"></div>
                        <script type="text/x-init">
                        {
                            "element": "addToCartButton",
                            "component": "AddToCartButton",
                            "props": {
                              "sku": "{{ product.sku }}",
                              "qtyInputEnabled": true
                            }
                        }
                        </script>
                        <script type="text/x-init">
                            {
                                "element": "configurableOptions",
                                "component": "ConfigurableAttributes",
                                "props": {
                                "configurableAttributes": {{ product_helper.getConfigurableAttributesJson(product.extension_attributes.configurable_product_options, product.child_products)|raw }},
                                "product_base_url": "{{ base_url }}pub/media/catalog/product/"
                            }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ dump(product) }}
{% endblock %}
